#logo {
            width: 100%;
            height: 150px;
            text-align: center;
            margin-top: 70px;
        }
        img {
            width: 300px;
            margin-bottom: 10px;
        }
        #form {
            background-color:#009EFF;
            width: 100%;
            height: 250px;
            padding: 20px;
            text-align: center;
            color: white;
        }
        .formInput {
            margin-bottom: 8px;
            border-radius: 6px;
            border: 1px solid lightgray;
            box-shadow: 1px 1px 2px lightgray;
        }
        .formInput:hover {
            background-color: lightcyan;
        }
        button {
            margin-top: 10px;
            background-color: white;
            color: #009EFF;
            border: 1px solid white;
            border-radius: 4px;
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 25px;
        }
        button:hover {
            background-color: blue;
            color: white;
            border: 1px solid blue;
        }
        h1 {
            margin-bottom: 15px;
        }
        #form a{
            color: white;
            text-decoration: underline;
        }
        #form a:hover {
            color:blue;
        }
        body {
            /* border: 2px solid #009EFF;
            height: 100vh; */
            font-family: 'Roboto', sans-serif;
        }
        .app {
            margin-top: 5px;
            text-align: center;
            width: 100%;
        }
        .app h6{
            color: #009EFF;
        }

        /* Desktop media query */
        @media only screen and (min-width: 768px) {
            .formInput {
                margin-left: 8px;
                padding: 5px;
            }
            button {
                padding-left: 25px;
                padding-right: 25px;
            }
        }